@font-face {
    font-family: AUPassataLight;
    src: url('../fonts/AU/AUPassata_Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: AUPeto;
    src: url('../fonts/AU/AU_Peto.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: AUPassataLight;
}