@font-face { font-family: "AU Passata Light"; src: url('../fonts/AU/AUPassata_Light.TTF'); }
@font-face { font-family: "AU Peto"; src: url('../fonts/AU/AU_Peto.TTF'); }

* {
    font-family: "AU Passata Light";
}